<div class="bg">
  <div class="dashboard-top-bar">
    <div class="menu-icon" (click)="drawer.toggle()">
      <img src="./assets/images/icons/menu.png" alt="menu">
    </div>
    <div class="profile-tag">
      <div class="profiler-image">
        {{profileLetter}}
      </div>
      <div>
        <p>{{userEmail}}</p>
        <p class="sign-out" (click)="signOut()">sign out</p>
      </div>
    </div>
  </div>
  <mat-drawer-container class="dashboard-container" [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer>
    <mat-drawer-content>
      <mat-form-field>
        <mat-label>Sidenav mode</mat-label>
        <mat-select #mode value="side">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
