.password-form{
  max-width: 580px;
  margin: 20px auto;
  border: 2px solid var(--color-primary-600);
  border-radius: 20px;
  padding: 20px 25px;

  .password-form-full-width{
    width: 100%;
  }
}
