.blog-image{
  width: 100px;

  img{
    width: 100%;
  }
}

.blog-content{
  width: 100%;
  padding: 0 16px;

  p{
    margin: 0;
  }
}

.action{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
