<div class="container">
  <div class="forecast-add-form-wrapper">
    <div class="forecast-form-wrapper-top">
      <h6>Edit Forecast</h6>
      <i class="fa fa-info-circle" aria-hidden="true" matTooltip="use <Html> tags for get better experience.  example: <b>bold</b>"></i>
    </div>
    <div class="container">
      <form class="feedback-form" [formGroup]="editForecastForm">
        <div class="row">
          <div class="col-12">
            <h4>{{forecast.title}}</h4>
          </div>
          <div class="col-12">
            <mat-form-field class="feedback-form-full-width" appearance="outline" color="accent">
              <mat-label>Forecast</mat-label>
              <textarea id="edit-field" matInput formControlName="description" placeholder="Your new forecast here.."></textarea>
            </mat-form-field>
          </div>
          <div class="d-sm-flex justify-content-end align-items-center">
            <button class="button-1" type="submit" (click)="updateForecast()">update</button>
            <button class="button-1" style="margin-left: 5px" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">preview</button>
          </div>
        </div>
      </form>

      <div class="collapse" id="collapseExample">
        <h2>{{forecast.title}}</h2>
        <p [innerHTML]="forecast.description"></p>
      </div>
    </div>
  </div>

  <div class="forecast-danger-zone">
    <div class="container">
      <h1>Danger Zone</h1>
      <hr style="color: var(--color-primary-600)">

      <div class="card mb-3" style="width: 100%">
        <div class="row g-0">
          <div class="col-12">
            <div class="card-body">
              <h5 class="card-title">Change visibility</h5>
              <div class="d-sm-flex align-items-center justify-content-between">
                <p class="card-text">{{visibility?'If you make change the forecast visibility to private, it will disappear from main web page':'Make visibility to public for share forecast with users'}}</p>
                <button class="button-1" data-bs-toggle="collapse" data-bs-target="#collapseVisibility" aria-expanded="false" aria-controls="collapseVisibility">{{visibility?'Private':'Public'}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse" id="collapseVisibility">
        <div class="alert alert-warning" role="alert">
          <div class="d-flex align-items-center justify-content-center flex-column">
            <p style="color: black">Are you sure you want to make forecast {{visibility?'private':'public'}}?</p>
            <button class="button-2" data-bs-toggle="collapse" data-bs-target="#collapseVisibility" aria-expanded="false" aria-controls="collapseVisibility" (click)="changeVisibility()">{{visibility?'Make Private':'Make Public'}}</button>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="width: 100%">
        <div class="row g-0">
          <div class="col-12">
            <div class="card-body">
              <h5 class="card-title">Delete Forecast</h5>
              <div class="d-sm-flex align-items-center justify-content-between">
                <p class="card-text">This will completely disappear the forecast from main page. Don't delete the forecast if you don't have a new forcast to submit.</p>
                <button class="button-1" data-bs-toggle="collapse" data-bs-target="#collapseDelete" aria-expanded="false" aria-controls="collapseDelete">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse" id="collapseDelete">
        <div class="alert alert-danger" role="alert">
          <div class="d-flex align-items-center justify-content-center flex-column">
            <p style="color: black">Are you sure you want to delete main forecast?</p>
            <button class="button-2" data-bs-toggle="collapse" data-bs-target="#collapseDelete" aria-expanded="false" aria-controls="collapseDelete" (click)="deleteForecast()">Delete Permanently</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
