ul{
  li{
    font-weight: bold;
    font-size: 18px;
    list-style: url("../../../assets/images/icons/list-1.png");
  }
}

.sub-list{
  li{
    font-weight: normal;
    font-size: 16px;
    //list-style: url("../../../assets/images/icons/list-2.png");

    span{
      font-weight: bold;
    }
  }
}

.sub-banner{
  min-height: 80vh;
  background-image: url("../../../assets/images/shared/sub-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  .shadow-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0,0,0,0), rgba(#000,.5));
    z-index: 1;
  }

  .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
      font-size: max(6vw, 40px);
      color: var(--color-text-200);
      text-align: center;
    }

    .banner-route-div{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: var(--color-text-200);

      a{
        color: var(--color-text-200);
        text-decoration: none;
        transition: color .3s ease-in-out;

        &:hover{
          color: var(--color-primary-600);
        }
      }
    }
  }
}
