<div [ngClass]="{'theme-light': !isDarkMode, 'theme-dark': isDarkMode}">
  <div class="bg">
    <div class="sub-banner">
      <div class="shadow-layer"></div>
      <div class="banner-content">
        <div>
          <h1>About Our Platform</h1>
        </div>
        <div class="banner-route-div">
          <a routerLink="/home">Home</a> /
          <a routerLink="/about">About</a>
        </div>
      </div>
    </div>
    <div class="container">

      <h3>Welcome to {{platformName}}</h3>
      <p>{{platformName}} is an advanced Geographic Analytics Platform driven by Ethical AI. Designed to provide
        valuable insights into air quality, meteorological conditions, and more, our platform leverages the power of
        machine learning to deliver accurate predictions and analysis.</p>

      <h3>Why {{platformName}}?</h3>
      <ul>
        <li>Cutting-Edge Technology</li>
        <p>We embrace the latest technologies, utilizing machine learning models to forecast air quality and
          meteorological conditions. Our predictive models are built on state-of-the-art algorithms, ensuring
          reliability and precision in the information we provide.</p>
        <li>Data-Driven Insights</li>
        <p>Access real-time and historical data to gain deep insights into air quality factors such as humidity,
          temperature, wind speed, and more. Understand environmental patterns, make informed decisions, and stay ahead
          of changes that impact your surroundings.</p>
        <li>User-Friendly Interface</li>
        <p>Our user interface is designed with simplicity and functionality in mind. Whether you're a weather
          enthusiast, researcher, or just curious about your local environment, {{platformName}} makes it easy to
          access and interpret complex data.</p>
      </ul>

      <h3>What Can You Discover?</h3>
      <ul>
        <li>Air Quality Metrics</li>
        <ul class="sub-list">
          <li
            [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
            <span>Air Humidity:</span> Understand the moisture content in the air, a crucial factor in various
            environmental processes.
          </li>
          <li
            [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
            <span>Temperature:</span> Explore temperature patterns and trends, aiding in weather analysis.
          </li>
          <li
            [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
            <span>Wind Speed:</span> Learn about the speed of the wind, crucial for predicting weather conditions.
          </li>
          <li
            [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
            <span>Precipitation:</span> Stay informed about rainfall and other forms of precipitation in your area.
          </li>
        </ul>
      </ul>

      <h3>Our Purpose and Aim</h3>
      <p>At {{platformName}}, our primary purpose is to empower individuals and communities with accurate and
        actionable environmental insights. We aim to:</p>
      <ul class="sub-list">
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          Provide accessible and reliable air quality and meteorological data.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          Foster a community of environmentally conscious individuals.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          Support research and initiatives focused on sustainable living.
        </li>
      </ul>

      <h3>Ethical Concerns</h3>
      <p>We prioritize ethical considerations in all aspects of our platform:</p>
      <ul class="sub-list">
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Privacy:</span> User data is handled with utmost care, ensuring privacy and confidentiality.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Transparency:</span> We are transparent about the sources of our data and the methodologies behind our
          predictions.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Fairness:</span> Our algorithms are designed to be fair and unbiased, ensuring equitable results.
        </li>
      </ul>

      <h3>Meet the Creator</h3>
      <p>{{platformName}} is the brainchild of a dedicated individual who envisioned and brought this project to
        life as a culmination of their university final project. Meet the mind behind the platform:</p>

      <div class="author-div">
        <div class="card mb-3" style="max-width: 640px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="./assets/images/shared/author.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Kavindu Kokila Gayashan</h5>
                <p class="card-text">
                  <span>Nick: </span><small class="text-body-secondary">Kavi Castelo</small>
                  <br>
                  <span>Position: </span><small class="text-body-secondary">Full Stack Developer</small>
                  <br>
                  <span>University: </span><small class="text-body-secondary">University of Cardiff Metropolitan UK</small>
                  <br>
                  <span>Institute: </span><small class="text-body-secondary">ICBT Southern Campus</small>
                </p>
                <div class="author-contact">
                  <a href="https://admin.flexi-art.com/" title="Portfolio" target="_blank"><i class="fa fa-heart" aria-hidden="true"></i></a>
                  <a href="https://linkedin.com/in/kavindu-kokila-710963250" title="Linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="https://web.facebook.com/kavi.castelo/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="https://twitter.com/kavicastelo" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://kavicastelo.netlify.app/" title="Garden" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                  <a href="https://blogs.flexi-art.com/" title="Blog" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
                  <a href="https://github.com/Kavicastelo/" title="Github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                  <a href="https://stackoverflow.com/users/20531015/kavi-castelo?tab=profile" title="Stackoverflow" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p>As the sole creator of {{platformName}}, Kavindu Kokila poured their passion for technology,
        environmental science, and ethical AI into every aspect of the platform. From conceptualization to development,
        this project reflects their commitment to creating an innovative solution for environmental awareness.</p>

      <h3>Join Us on the Journey</h3>
      <p>Whether you're a weather enthusiast, researcher, or someone passionate about environmental awareness, we invite
        you to join us on this journey. Explore {{platformName}} and discover the fascinating world of Geographic
        Analytics and Ethical AI.</p>
      <button class="button-1" (click)="openDialog()">SIGNUP TODAY &blacktriangleright;</button>
      <hr style="color: var(--color-primary-600);">
<!--      contact-->
    </div>
  </div>
</div>
