ul{
  li{
    font-weight: bold;
    font-size: 18px;
    list-style: url("../../../assets/images/icons/list-1.png");
  }
}

.sub-list{
  li{
    font-weight: normal;
    font-size: 16px;
    //list-style: url("../../../assets/images/icons/list-2.png");

    span{
      font-weight: bold;
    }
  }
}
