.map-loader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.content-loader{
  .top-carousal{
    margin-bottom: 22px;
  }

  .card-container{
    .card{
      background-color: var(--color-surface-mixed-100);
      border: 1px solid var(--color-primary-600);
    }
  }
}

.content-wrapper{
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: var(--color-primary-600);
  margin-top: 20px;

  .title-1{
    color: var(--color-text-200);
    font-size: 20px;
    text-align: center;
  }
  .hr-1{
    width: 100%;
    height: 2px;
    background-color: var(--color-primary-400);
    margin: 5px 0 15px 0;
  }
  .image-wrapper{
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: var(--color-surface-mixed-200);

    a{
      img{
        width: 100%;
      }
    }
    span{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: var(--color-text-200);
    }
  }

  .content{
    width: 100%;
    background-color: var(--color-surface-mixed-200);
    min-height: 200px;
    margin-top: 20px;
    padding: 2vw;

    .title-2{
      color: var(--color-text-100);
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .image-wrapper{
      width: 100%;

      a{
        img{
          width: 100%;
        }
      }
    }
  }

  .summary-stats{
    padding: 0 25px;
    .icon{
      margin-right: 30px;

      img{
        width: 100%;
      }
    }

    p{
      margin: 0;
    }
  }

  @media screen and (max-width: 576px) {
    .title-1{
      margin-top: 10px;
    }
  }
}

