<div class="loading-screen" *ngIf="isLoading">
  <img src="./assets/images/shared/loading.gif" alt="loading...">
  <h2>Please wait a moment...</h2>
  <p>Starts server configuration</p>
</div>

<div [ngClass]="{'theme-light': !isDarkMode, 'theme-dark': isDarkMode}">
  <div class="bg">
    <div class="sub-banner">
      <div class="shadow-layer"></div>
      <div class="banner-content">
        <div>
          <h1>Blog</h1>
        </div>
        <div class="banner-route-div">
          <a routerLink="/home">Home</a> /
          <a routerLink="/blog">Blog</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 blog-div" *ngFor="let blog of blogData">
          <div class="card mb-3" (click)="OpenBlog(blog.id)">
            <img src="{{blog.image}}" class="card-img-top" alt="{{blog.image}}">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <p class="card-text">{{blog.description}}</p>
              <p class="card-text"><small class="text-body-secondary">{{blog.updated_at}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
