<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="list" [class.active]="isActive('/admin/users/list')">Users List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="requests" [class.active]="isActive('/admin/users/requests')">Requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="admins" [class.active]="isActive('/admin/users/admins')">Admins</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="new" [class.active]="isActive('/admin/users/new')">New</a>
  </li>
</ul>
<div class="admin-sub-page-loader">
  <router-outlet></router-outlet>
</div>
