<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="new" [class.active]="isActive('/admin/forecast/new')">Users List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="edit" [class.active]="isActive('/admin/forecast/edit')">Requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="edit" [class.active]="isActive('/admin/forecast/edit')">Admins</a>
  </li>
</ul>
<div class="admin-sub-page-loader">
  <router-outlet></router-outlet>
</div>
