<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <img src="./assets/images/shared/logo-extended.png" alt="logo">
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h4>Pages</h4>
        <ul>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          <li><a routerLink="/terms">Terms and Conditions</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/references">References</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h4>Follow Us</h4>
        <ul>
          <li><i class="fa fa-facebook" aria-hidden="true"></i><a href="#">Facebook</a></li>
          <li><i class="fa fa-instagram" aria-hidden="true"></i><a href="#">Instagram</a></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i><a href="#">Twitter</a></li>
          <li><i class="fa fa-linkedin" aria-hidden="true"></i><a href="#">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
