<div [ngClass]="{'theme-light': !isDarkMode, 'theme-dark': isDarkMode}">
  <div class="bg">
    <div class="sub-banner">
      <div class="shadow-layer"></div>
      <div class="banner-content">
        <div>
          <h1>References</h1>
        </div>
        <div class="banner-route-div">
          <a routerLink="/home">Home</a> /
          <a routerLink="/references">References</a>
        </div>
      </div>
    </div>
    <div class="container">
      <h3>Data Generation for Educational Purposes</h3>
      <p>The statistical calculations and predictions presented on this platform are based on generated data created
        explicitly for educational purposes. Given the extensive range of factors influencing air quality and the
        associated high costs of obtaining real-world data, we have developed Python scripts to simulate model values
        for statistical calculations and training purposes.</p>

      <h4>Import Libraries</h4>
      <div class="py-code-snippet">
        <span class="import">from </span>faker <span class="import">import </span><span class="lib">Faker</span><br>
        <span class="import">import </span>csv<br>
        <span class="import">import </span>random<br>
        <span class="import">from </span>datetime <span class="import">import </span>datetime, timedelta <br>
        <span class="import">import </span>time <br>
        <span class="import">import </span>pandas <span class="import">as </span>pd <br>
        <span class="import">from </span>sklearn.model_selection <span class="import">import </span>train_test_split
        <br>
        <span class="import">from </span>sklearn.linear_model <span class="import">import </span><span class="lib">LinearRegression</span>
        <br>
        <span class="import">from </span>sklearn.metrics <span class="import">import </span>mean_squared_error <br>
        <span class="import">from </span>joblib <span class="import">import </span>dump <br>
        <span class="import">import </span>pickle <br><br>
        fake <span class="val">= </span><span class="lib">Faker</span>()<br>
      </div>

      <h4>Function to generate data</h4>
      <p>I improved the method for generate random data with more correlations.</p>
      <div class="py-code-snippet">
        <span class="import">def </span><span class="name">generate_improved_air_quality_data </span>(locations,
        start_time, end_time, frequency):<br>
        &nbsp;&nbsp;&nbsp;fieldnames <span class="val">= </span>[<span class="val">'timestamp'</span>, <span
        class="val">'location'</span>, <span class="val">'pm25'</span>, <span class="val">'pm10'</span>, <span
        class="val">'co2'</span> ...]<br>
        &nbsp;&nbsp;&nbsp;<span class="import">with </span><span class="name">open </span>(<span class="val">'improved_air_quality_data.csv'</span>,
        <span class="val">'w'</span>, newline <span class="val">=''</span>) <span class="import">as </span>csvfile:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;writer <span class="val">= </span>csv.<span class="lib">DictWriter</span>(csvfile,
        fieldnames <span class="val">= </span>fieldnames)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;writer.<span class="name">writeheader</span>()<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;current_time <span class="val">= </span>start_time<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="import">while </span>current_time <span class="val"><=</span>
        end_time:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="import">for </span>location <span
        class="val">in </span>locations:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;temperature <span
        class="val">= </span>random.<span class="name">uniform</span>(<span class="val">20</span>, <span
        class="val">30</span>)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;humidity <span
        class="val">= </span>random.<span class="name">uniform</span>(<span class="val">15</span>, <span
        class="val">20</span>)<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        class="import">if </span><span class="val">8 <= </span>current_time.hour <span
        class="val"><= 10 or 17 <= </span>current_time.hour <span class="val"><= 19</span>:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pollution_increase
        <span class="val">= </span>random.<span class="name">uniform</span>(<span class="val">5</span>, <span
        class="val">15</span>)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        class="import">else</span>:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pollution_increase
        <span class="val">= 0</span><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;writer.<span class="name">writerow</span>(&lcub;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        class="val">'timestamp'</span>: current_time.<span class="name">strftime</span>(<span class="val">'%Y-%m-%d %H:%M:%S'</span>),<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        class="val">'location'</span>: location,<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        class="val">'pm25'</span>: temperature <span class="val">+ </span>humidity <span class="val">+ </span>pollution_increase
        <span class="val">+ </span>random.<span class="name">uniform</span>(<span class="val">-2</span>, <span
        class="val">2</span>)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        class="val">'pm10'</span>: temperature <span class="val">+ </span>humidity <span class="val">+ </span>pollution_increase
        <span class="val">+ </span>random.<span class="name">uniform</span>(<span class="val">-2</span>, <span
        class="val">2</span>)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        class="val">'co2'</span>: temperature <span class="val">+ </span>humidity <span class="val">+ </span>pollution_increase
        <span class="val">+ </span>random.<span class="name">uniform</span>(<span class="val">-3</span>, <span
        class="val">3</span>)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        class="val">'temperature'</span>: temperature,<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        class="val">'humidity'</span>: humidity<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rcub;)<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;current_time <span class="val">+= </span>frequency<br><br>
        <span class="comment"># Other datasets generate methods</span>
      </div>
      <p>PS: You can replace with '...' with all other factors for data sets</p>

      <h4>Train & save model</h4>
      <p>I used the scikit-learn LinerRegression model to train and save the model. My statistical analysis of this
        generated dataset confirmed the most suitable Linear regression to train them. Here is the <a
          href="https://gist.github.com/kavicastelo/824cae2e1df5b9fc2e7e55799fdeb092">
          statistical analysis part</a> and explanations.</p>
      <div class="py-code-snippet">
        <span class="import">def </span><span class="name">train_and_save_model</span>(df, feature_name):<br>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="lib">X </span><span class="val">= </span>df.<span class="name">drop</span>([<span
        class="val">'timestamp'</span>, <span class="val">'location'</span>], axis<span class="val">=</span><span
        class="val">1</span>)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;y <span class="val">= </span>df[[feature_name]]<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="lib">X_train</span>, <span class="lib">X_test</span>, y_train, y_test <span
        class="val">= </span><span class="name">train_test_split</span>(<span class="lib">X</span>, y, test_size<span
        class="val">= 0.2 </span>, random_state<span class="val">= 42</span>)<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;model <span class="val">= </span><span class="lib">LinearRegression</span>()<br>
        &nbsp;&nbsp;&nbsp;&nbsp;model.<span class="name">fit</span>(<span class="lib">X_train</span>, y_train)<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;predictions <span class="val">= </span>model.<span class="name">predict</span>(<span
        class="lib">X_test</span>)<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;mse <span class="val">= </span><span class="name">mean_squared_error</span>(y_test,
        predictions)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="name">print</span>(<span class="val">f'Mean Squared Error for </span>&lcub;feature_name}<span
        class="val">: </span>&lcub;mse}<span class="val">'</span>)<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;model_filename <span class="val">= f'</span>&lcub;feature_name}<span class="val">_model.pkl'</span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="import">with </span><span class="name">open</span>(model_filename, <span
        class="val">'wb'</span>) <span class="import">as </span>f:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pickle.<span class="name">dump</span>(model, f)<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="name">print</span>(<span class="val">f'Model saved as </span>&lcub;model_filename}<span
        class="val">'</span>)<br><br>
      </div>

      <p>Get the full code from here <a href="https://github.com/kavicastelo/Ethical-AI-driven-Geographic-Analytics-Platform/blob/data/generate_data_time_to_time.py"
                                        target="_blank">Complete Code</a></p>


      <h3>Utilized Libraries</h3>
      <h4>Python</h4>
      <ul class="sub-list">
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>NumPy:</span> A fundamental package for scientific computing, providing support for large,
          multi-dimensional arrays and matrices.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Pandas:</span> A versatile data manipulation and analysis library, facilitating the handling of
          structured data.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>scikit-learn:</span> An open-source machine learning library that provides simple and efficient tools
          for data analysis and modeling.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Faker:</span> A Python library for generating fake data, useful for creating realistic datasets for
          testing and educational purposes.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Joblib:</span> A library for lightweight pipelining in Python, particularly with regard to data parallel
          computing.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Pickle:</span> A standard Python library for serializing and deserializing objects, commonly used for
          saving and loading machine learning models.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Py4J:</span> A bridge between Python and Java, enabling seamless communication between the two
          languages.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Python Dotenv:</span> A Python library for loading environment variables from a .env file.
        </li>
      </ul>

      <h4>Spring Boot</h4>
      <ul class="sub-list">
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Spring Boo:</span> A powerful framework for building Java-based enterprise applications. Its simplicity
          and convention-over-configuration approach make it an excellent choice for developing robust and scalable
          backend systems.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>OpenCSV:</span> A simple library for reading and writing CSV files in Java.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Commons Math3:</span> A library of lightweight, self-contained mathematics and statistics components
          addressing the most common problems not available in the Java programming language.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Py4J:</span> A bridge between Python and Java, enabling seamless communication between the two
          languages.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>JUnit:</span> A widely used testing framework for Java.
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>PMML-sklearn:</span> A library for exporting scikit-learn models to the Predictive Model Markup Language
          (PMML).
        </li>
        <li
          [style]="{'list-style':isDarkMode?'url(./assets/images/icons/list-2-dark.png)':'url(./assets/images/icons/list-2.png)'}">
          <span>Spring Dotenv:</span> A Spring Boot library for loading environment variables from a .env file.
        </li>
      </ul>
    </div>
  </div>
</div>
