<div class="container">
  <div class="container">
  <span>learn how to write a blog <i class="fa fa-question-circle-o" aria-hidden="true"
                                     matTooltip="Use HTML tags for create more accurate main content. example:  <b>bold</b>  <br> next paragraph.  Use markdown to sub content"></i></span>
    <form class="blog-form" [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="blog-form-full-width" appearance="outline" color="accent">
            <mat-label>Title</mat-label>
            <mat-select class="blog-form-full-width" formControlName="title">
              <mat-option value="" disabled selected>Select Title &ast;</mat-option>
              <mat-option *ngFor="let b of blogData" [value]="b.title" (onSelectionChange)="loadCurrentBlog(b.title)">{{b.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="blog-form-full-width" appearance="outline" color="accent">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="Description" required>
          </mat-form-field>
        </div>
      </div>
      <h4>Content</h4>
      <div formGroupName="content" class="blo-form-content row">
        <div class="col-md-6">
          <mat-form-field class="blog-form-full-width" appearance="outline" color="accent">
            <mat-label>Main Title</mat-label>
            <input matInput formControlName="mainTitle" placeholder="Content main title" required>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="blog-form-full-width" appearance="outline" color="accent">
            <mat-label>Main Content</mat-label>
            <textarea matInput formControlName="mainContent" placeholder="Description under main title"
                      required></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="blog-form-full-width" appearance="outline" color="accent">
            <mat-label>Sub Content</mat-label>
            <textarea [(ngModel)]="markdownContent" matInput formControlName="subContent" placeholder="Sub-Content" required></textarea>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <div [innerHTML]="markdownContent | markdown"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="blog-form-full-width" appearance="outline" color="accent">
            <mat-label>Image</mat-label>
            <input matInput formControlName="image" placeholder="Image" required>
          </mat-form-field>
        </div>
        <!--      <div class="col-md-6">-->
        <!--        <mat-form-field class="blog-form-full-width" appearance="outline" color="accent">-->
        <!--          <mat-label>Tags</mat-label>-->
        <!--          <input matInput formControlName="tags" placeholder="Tags">-->
        <!--        </mat-form-field>-->
        <!--      </div>-->
        <div class="col-md-6">
          <mat-form-field class="blog-form-full-width" appearance="outline" color="accent">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author" placeholder="Author">
          </mat-form-field>
        </div>
      </div>

      <button type="submit" class="button-1">Update</button>
    </form>

  </div>

</div>
