<div [ngClass]="{'theme-light': !isDarkMode, 'theme-dark': isDarkMode}">
  <div class="bg">
    <div class="container">
      <h3>Sign Up</h3>
      <p>Are you willing to join the Ethical AI-driven Geographic Analytics Platform, Here is your opportunity. You can
        join us if you're a weather enthusiast, researcher, or someone passionate about environmental awareness. Submit
        the registration form below. Our administration will accept your request as soon as possible.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div> name
        <div class="col-md-6"></div> email
        <div class="col-md-6"></div> tp
        <div class="col-md-6"></div> country
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>
