<div class="container">
  <div class="welcome-wrapper">
    <h1>Welcome {{user}}!</h1>
    <h3>To Geographic Analysis Platform</h3>
  </div>

  <div class="shapes">
    <div class="cube">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="circle">
    </div>

    <div>
    </div>

    <div class="pyramid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
