<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="user-policy" [class.active]="isActive('/admin/settings/user-policy')">User Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="user-terms" [class.active]="isActive('/admin/settings/user-terms')">User Terms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="policy" [class.active]="isActive('/admin/settings/policy')">Privacy & Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="privacy" [class.active]="isActive('/admin/settings/privacy')">Settings</a>
  </li>
</ul>
<div class="admin-sub-page-loader">
  <router-outlet></router-outlet>
</div>
