<div class="loading-screen" *ngIf="isLoading">
  <img src="./assets/images/shared/loading.gif" alt="loading...">
  <h2>Please wait a moment...</h2>
  <p>Starts server configuration</p>
</div>

<div class="container">
  <h4>List of FAQs</h4>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let faq of faqs">
            <td>{{faq.question}}</td>
            <td>{{faq.answer}}</td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="delete(faq.id)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
