<div class="notice" [ngClass]="{'theme-light': !isDarkMode, 'theme-dark': isDarkMode}">
  <div class="bg">
    <div class="container">
      <p>home works!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad animi aspernatur blanditiis consectetur
        delectus distinctio eaque earum enim error eum expedita fugiat id impedit in itaque maxime, modi molestias nam
        necessitatibus neque nobis nostrum nulla numquam odit officiis possimus quasi quisquam repellat repellendus
        repudiandae sequi sit tenetur. Ab adipisci assumenda autem commodi culpa delectus doloribus ducimus eius error fugiat
        in labore libero non numquam odio odit perspiciatis praesentium provident quibusdam quisquam repellat sit soluta ullam
        veritatis, voluptate! Cumque eum hic nemo nostrum numquam odio omnis perferendis repellat sint temporibus. Ab aliquid
        animi at blanditiis culpa cupiditate dolor dolorem doloremque dolores doloribus error expedita facilis fuga fugit
        labore, maxime minus necessitatibus nemo, nobis officiis perspiciatis provident quia quidem, quod reiciendis repellat
        sint sunt suscipit tempora tenetur veniam voluptatem voluptatibus voluptatum! Accusamus aliquam dolores ea et fuga
        harum quam, repellat suscipit totam voluptas. Aliquid eius enim illum iure laudantium quis ratione rem sequi, sit
        soluta, totam voluptas voluptatem. Ea et ex, nisi praesentium ut voluptatum. Aut blanditiis deserunt doloribus earum
        eius et eveniet exercitationem fuga hic magni maxime natus pariatur quia, quos sed sequi sunt. Assumenda doloribus
        natus qui reiciendis repellat repellendus. Culpa, delectus dicta magnam magni minus officiis quod recusandae veniam?
        Aliquid corporis cumque dignissimos dolorem eos impedit ipsam ipsum non quis saepe tempora, ullam. Corporis eos
        explicabo fugit, magni maiores maxime nesciunt optio praesentium repudiandae veniam veritatis vitae, voluptatibus.
        Amet aperiam cumque minima similique! Earum minus molestias nesciunt quisquam totam. Asperiores cumque eius in iure
        quaerat repellat unde voluptates! Alias, consequatur consequuntur esse illo illum impedit nisi quod vero voluptatum!
        Accusantium aliquid animi assumenda cum deserunt eius enim eum eveniet expedita labore, laborum magnam maiores maxime
        molestias nulla porro possimus praesentium quis reiciendis rerum sed unde ut veniam vitae voluptatum. Natus quasi
        sapiente sed. Ad aliquam asperiores aspernatur aut corporis culpa cum deleniti distinctio dolor ea eos esse expedita
        fugiat harum id, impedit in inventore ipsa iure iusto laborum libero maxime neque nihil nisi officia omnis placeat
        possimus quam repellendus rerum sapiente soluta sunt tempora tenetur voluptate voluptates. Ab accusantium aliquam amet
        at autem blanditiis commodi deleniti dignissimos dolorum error eveniet explicabo fuga, id ipsa labore laborum magnam
        mollitia nam nesciunt nostrum nulla omnis perferendis perspiciatis praesentium quae quam quia quis quisquam repellat
        repudiandae rerum saepe sit voluptate? Doloremque enim, minus nostrum porro quam reprehenderit temporibus! Cum
        cupiditate dicta ea eius eos error et, eum explicabo fuga fugiat id ipsum, laudantium molestias neque nulla pariatur
        possimus quaerat quas recusandae sequi sit, tempora temporibus voluptate? Deleniti facere obcaecati sit? Aperiam
        asperiores itaque iure necessitatibus nihil numquam optio pariatur velit! Ex maxime porro saepe sint tempore. Magni
        nam nemo numquam possimus quod reiciendis, sapiente sit voluptas. Adipisci consequuntur, debitis doloribus eos est
        fuga hic maxime nostrum odio pariatur praesentium rerum ut velit voluptas voluptates? Adipisci blanditiis cumque
        ducimus fugiat neque, omnis optio reprehenderit saepe? Ab animi culpa cumque hic ipsum neque non quam reiciendis
        veritatis. Amet blanditiis consectetur consequuntur deserunt eius eveniet hic laborum maiores, quia quibusdam quod
        reprehenderit voluptas, voluptatibus. Atque cumque deserunt excepturi facilis! Consectetur, culpa dignissimos dolore
        ipsam itaque nam nihil ratione! Esse illum, iste laborum magnam minima molestias veritatis vero voluptates! Blanditiis
        deserunt incidunt rem soluta ullam, unde voluptates. Aut consequuntur delectus eaque enim, ipsam laborum libero
        molestias non quibusdam, quod reprehenderit sint sit sunt, suscipit voluptates? Dignissimos est fugiat minus pariatur
        praesentium, soluta tempora tenetur! Atque, autem ea excepturi, explicabo facere fuga iusto libero maxime nihil
        obcaecati omnis praesentium quibusdam, reiciendis repellat repellendus rerum saepe totam ut voluptatibus voluptatum.
        Ab accusantium alias at atque blanditiis corporis debitis dolorem dolorum eos exercitationem explicabo id, incidunt
        ipsa laborum minima modi natus omnis optio quae quibusdam recusandae repudiandae saepe sequi totam ut. Accusantium
        adipisci, aliquid, assumenda culpa cupiditate deserunt dolorum ea eos, illum incidunt inventore ipsa maxime nam neque
        nisi obcaecati odio officiis qui quo quod reiciendis sint ullam voluptatibus! Accusamus ad adipisci consequatur, eius
        enim eos fugiat inventore iure nam optio quaerat quas, recusandae rem, rerum unde ut vero vitae. Animi asperiores
        aspernatur, at aut consequatur dicta earum enim in itaque iusto odit perferendis quae, quidem quis unde vel
        voluptatum? Accusantium adipisci aliquam beatae culpa cumque cupiditate dolor dolore doloremque eius et expedita fugit
        harum magnam modi mollitia nemo officiis porro, quibusdam quisquam reiciendis veniam veritatis vitae. Rerum sint
        tempora tempore temporibus unde vitae voluptatem. Eum laboriosam molestiae recusandae repudiandae tenetur. Blanditiis
        et explicabo modi nobis non? Ad adipisci architecto aspernatur at autem cum deserunt dicta dignissimos doloremque
        dolores earum eligendi enim eos fuga maiores minima molestias mollitia necessitatibus nisi non nostrum nulla odio
        officia officiis perspiciatis, provident quas quis quisquam quo quos repellat repellendus rerum tempore totam
        voluptatem voluptates voluptatum. Aliquid, animi aspernatur aut cupiditate debitis facere laboriosam quam quis
        voluptatem! Assumenda blanditiis distinctio doloribus expedita in, necessitatibus quaerat vitae? Accusamus adipisci
        blanditiis cumque deleniti eligendi enim expedita ipsam iure minima, modi neque odio officiis omnis pariatur
        praesentium quibusdam quod quos reiciendis reprehenderit sapiente sequi soluta ut vel veritatis voluptate. Consequatur
        ducimus incidunt molestiae nulla quidem quo. Ad culpa cum cumque dolorum ducimus, et eum ex fuga fugiat hic iure
        laboriosam laborum magnam magni maxime minima molestiae nemo, obcaecati quibusdam sint soluta ut velit. Alias
        asperiores autem cupiditate doloremque dolores, dolorum eius, et facilis itaque minima molestiae molestias non
        pariatur perferendis, qui quia quos rerum sapiente tempora tenetur ullam velit vero! Accusamus ad aliquam amet animi
        autem beatae commodi culpa deserunt ducimus exercitationem fugit, illum impedit incidunt inventore ipsum laboriosam
        laborum modi neque nesciunt nisi qui quia quis quos repellat reprehenderit saepe sapiente sequi, similique soluta
        ullam voluptatem voluptates voluptatibus voluptatum? Aliquam atque dolor facere harum laudantium, necessitatibus
        obcaecati quaerat quas quod saepe. Accusantium doloremque dolorum fugiat illum incidunt iste, nobis optio quae quidem
        quos sapiente ut vel! Accusamus ad aliquam aperiam asperiores aspernatur at atque autem blanditiis consectetur
        consequuntur dignissimos dolore dolorem eaque eius eligendi esse exercitationem facilis laudantium maxime modi natus
        nihil, optio placeat provident quas, quasi quidem quod ratione repudiandae rerum sed similique sit suscipit vel vero
        voluptatibus voluptatum? Dignissimos doloremque inventore porro voluptatem.</p>
    </div>
  </div>
</div>

