<div [ngClass]="{'theme-light': !isDarkMode, 'theme-dark': isDarkMode}">
  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
          <div class="content-loader">
            <div class="top-carousal">
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./assets/images/home/carousal-1.jpg" class="d-block w-100" alt="banner">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/home/carousal-2.jpg" class="d-block w-100" alt="banner">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/home/carousal-3.jpg" class="d-block w-100" alt="banner">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <h3>AIR QUALITY FORECASTS</h3>
            <div class="card-container">
              <div class="card" *ngFor="let f of forecastData">
                <div class="card-body">
                  <h4>{{f.title}}</h4>
                  <h5>Issued at {{f.dateTime}}</h5>
                  <p [innerHTML]="f.description"></p>
                </div>
                <div class="card-bottom">
                  <button class="button-1" style="margin: 0 0 10px 10px" (click)="like()"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{isLiked?'Liked':'Like'}} {{f.likes}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="map-loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>

