.cookie-notice{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .notice{
    width: 100%;
    text-align: center;
    height: 50%;
    font-size: 14px;
    background-color: white;

    img{
      max-width: 200px;
      width: 100%;
    }

    .button-1{
      background-color: #007aff;
      width: 100%;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: .3s ease-in-out;
      margin-bottom: 5px;

      &:hover{
        background-color: #0087bd;
      }
    }
  }
}

.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--color-primary-300);
  color: var(--color-text-200);

  a {
    text-decoration: none;
    color: var(--color-text-200);
    font-size: 12px;
    transition: .3s ease-in-out;

    &:hover{
      color: var(--color-primary-600);
    }
  }
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-surface-mixed-100);

  .menu{
    width: 100%;
    .navbar{
      background-color: var(--color-surface-mixed-100) !important;
      .navbar-nav{
        text-align: right;
        .nav-item{
          .nav-link{
            color: var(--color-text-200) !important;

            &:hover{
              color: var(--color-surface-mixed-600) !important;
            }
          }
          .nav-link.active{
            color: var(--color-primary-300) !important;
          }
          .dropdown-menu{
            background-color: var(--color-surface-mixed-100) !important;
            border: 1px solid var(--color-primary-300);
          }
        }
      }
    }

    .navbar-toggler{
      align-self: flex-end;
      right: 0;
      border-color: var(--color-primary-300) !important;

      .navbar-toggler-icon{
        border-color: var(--color-primary-300) !important;
      }
    }
  }

  .logo{
    width: 230px;
    height: 50px;
    //background-color: var(--color-surface-600);
    margin: 0 20px;

    img{
      width: 100%;
      height: 100%;
    }
  }
}

.notice{
  background-color: var(--color-primary-600);
  color: var(--color-text-100);
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;

  span{
    white-space: nowrap;
    color: var(--color-danger-100);
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
  }

  marquee{
    padding: 0;
    margin: 0;
    font-size: 12px;
  }

  .small-close-btn{
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-danger-100);
  }
}

.theme-btn{
  position: fixed;
  //position: absolute;
  right: 5px;
  top: calc(30% - 50px);
  border: none;
  color: var(--color-surface-mixed-100);
  background-color: var(--color-text-200);
  border-radius: 5px;
  z-index: 999;
}
