<div class="bg">
  <div class="dashboard-top-bar">
    <div class="menu-icon" (click)="drawer.toggle()">
      <img src="./assets/images/icons/menu.png" alt="menu">
      <div class="menu-icon-effect"></div>
    </div>
    <div class="profile-tag">
      <div class="profiler-image">
        {{profileLetter}}
      </div>
      <div class="d-none d-md-block">
        <p>{{userEmail}}</p>
        <p class="sign-out" (click)="signOut()">sign out</p>
      </div>
    </div>
  </div>
  <mat-drawer-container class="dashboard-container" hasBackdrop="false">
    <mat-drawer #drawer mode="over">
      <ul>
        <li routerLink="/dashboard/monitor">Monitoring</li>
        <li routerLink="/dashboard/metrological-data">Metrological Data</li>
        <li routerLink="/dashboard/prediction">Prediction</li>
        <li routerLink="/dashboard/stats">Statistical Analysis</li>
        <li routerLink="/dashboard/graphs">Graphs</li>
        <li>Item 6</li>
        <li routerLink="/dashboard/settings">Settings</li>
        <li routerLink="/dashboard/administration">Administration</li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
