<div class="loading-screen" *ngIf="isLoading">
  <img src="./assets/images/shared/loading.gif" alt="loading...">
  <h2>Please wait a moment...</h2>
  <p>Starts server configuration</p>
</div>

<div class="container" style="overflow-x: auto">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let admin of admins">
      <th scope="row">{{admin.id}}</th>
      <td>{{admin.name}}</td>
      <td>{{admin.email}}</td>
      <td>{{admin.phone}}</td>
      <td>
        <div class="d-flex align-items-center justify-content-around">
          <a href="mailto:{{admin.email}}" matTooltip="Send Mail"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          <a href="tel:{{admin.phone}}" matTooltip="Get Call"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
