<div class="bg">
  <div>
    <div id="g_id_onload"
         data-client_id="224343102685-g87ri6br0gfhv2724chsngpcs52s7rrm.apps.googleusercontent.com"
         data-context="use"
         data-login_uri="https://air-quality-platform.onrender.com/api/v1/feedback"
         data-auto_select="true"
         data-itp_support="true"
         data-callback="handleCredentialResponse">
    </div>
  </div>

  <div class="authorize-wrapper">
    <h1>Authorization</h1>
    <h2>Authorization Processing...</h2>
    <p>After authorization process you will automatically redirect <i class="fa fa-free-code-camp" aria-hidden="true"></i></p>
    <p>Please wait a moment ({{timer}})</p>
    <a routerLink="/home">Home</a>
    <br><br><br><br>
    <p>If you have any problem with authorize, please <a href="mailto:kavindu.kokila.info@gmail.com">contact support</a></p>
  </div>
</div>

