.faq-banner, .faq-content {
  width: 100%;
}

.faq-banner{
  img{
    width: 100%;
  }
}

.faq-content{
  .accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{
    background-color: var(--color-surface-mixed-100);
    color: var(--color-text-200);

    &:focus{
      box-shadow: none;
      border-color: transparent;
    }
  }

  .accordion-body{
    color: var(--color-text-200);
    background-color: var(--color-surface-mixed-300);
  }
}
