<div [ngClass]="{'theme-light': !themeService.isDarkTheme(), 'theme-dark': themeService.isDarkTheme()}">
  <div class="top-bar">
    <a href="tel:0773431660">+94 77 343 1660</a>
    <a href="mailto:kavindu.kokila.info@gmail.com">kavindu.kokila.info@gmail.com</a>
  </div>

  <div class="nav-bar sticky-top">
    <div class="logo">
      <img src="./assets/images/shared/logo-extended.png" alt="logo">
    </div>
    <div class="menu">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" style="justify-content: flex-end!important;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end!important;">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" [class.active]="isActive('/home')">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about" [class.active]="isActive('/about')">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/blog" [class.active]="isActive('/blog')">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/references" [class.active]="isActive('/references')">References</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Location
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let l of locations"><a class="nav-link" routerLink="/{{l.code}}"
                                                     [class.active]="isActive('/')">{{l.name}}</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" [class.active]="isActive('/contact')">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" [class.active]="isActive('/dashboard')">Dashboard</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="notice" *ngIf="isNavbar">
    <span>Notice : &nbsp;</span>
    <marquee behavior="slide" direction="left">This is a university student project. All values are generated test data.
      Not actual data provided!
    </marquee>
    <button class="small-close-btn" (click)="closeNoticeBar()" title="close notice bar">x</button>
  </div>

  <button class="theme-btn" (click)="toggleTheme()" title="Theme">
    <img [src]="themeService.isDarkTheme()?'./assets/images/icons/light.png':'./assets/images/icons/dark.png'"
         alt="theme" height="40" width="40">
  </button>

  <router-outlet></router-outlet>
</div>
