<div class="bg">
  <div class="sub-banner">
    <div class="shadow-layer"></div>
    <div class="banner-content">
      <div>
        <h1>Terms & Conditions</h1>
      </div>
      <div class="banner-route-div">
        <a routerLink="/home">Home</a> /
        <a routerLink="/terms">Terms & Conditions</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div [innerHTML]="terms[0].content | markdown"></div>
    <hr style="color: var(--color-primary-600)">
    <p>[last update: {{terms[0].date}}]</p>
  </div>
</div>
