<div class="bg">
  <div class="sub-banner">
    <div class="shadow-layer"></div>
    <div class="banner-content">
      <div>
        <h1>Feedback</h1>
      </div>
      <div class="banner-route-div">
        <a routerLink="/home">Home</a> /
        <a routerLink="/feedback">Feedback</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="sub-container">
      <h1>How Customers Review Us...</h1>
      <div id="g_id_onload"
           data-client_id="224343102685-g87ri6br0gfhv2724chsngpcs52s7rrm.apps.googleusercontent.com"
           data-context="use"
           data-login_uri="http://localhost:3269/api/v1/feedback"
           data-auto_select="true"
           data-itp_support="true"
           data-callback="handleCredentialResponse">
      </div>
    </div>
  </div>
</div>
