<div class="bg">
  <div class="sub-banner">
    <div class="shadow-layer"></div>
    <div class="banner-content">
      <div>
        <h1>Feedback</h1>
      </div>
      <div class="banner-route-div">
        <a routerLink="/home">Home</a> /
        <a routerLink="/feedback">Feedback</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="sub-container">
      <h1 style="margin-bottom: 20px">How Customers Review Us...</h1>
      <div>
<!--        <div id="g_id_onload"-->
<!--             data-client_id="224343102685-g87ri6br0gfhv2724chsngpcs52s7rrm.apps.googleusercontent.com"-->
<!--             data-context="use"-->
<!--             data-login_uri="http://localhost:3269/api/v1/feedback"-->
<!--             data-auto_select="true"-->
<!--             data-itp_support="true"-->
<!--             data-callback="handleCredentialResponse">-->
<!--        </div>-->
      </div>

      <div class="feedback-wrapper" *ngFor="let f of feedbacks">
        <div class="feedback-writer">
          <div class="profile-wrapper">
            <img src="{{f.picture}}" alt="{{f.family_name}}" width="40" height="40">
          </div>
          <div>
            <p class="username">{{f.name}}</p>
            <p class="post-date">{{f.date}}</p>
          </div>
        </div>
        <div class="feedback">
          {{f.feedback}}
        </div>
      </div>

      <div class="feedback-write-area">
        <form class="feedback-form" [formGroup]="feedbackForm">
          <div class="row">
            <div class="col-12">
              <mat-form-field class="feedback-form-full-width" appearance="outline" color="accent">
                <mat-label>Feedback</mat-label>
                <textarea matInput formControlName="feedback" placeholder="Your feedback here.."></textarea>
              </mat-form-field>
            </div>
            <div class="d-sm-flex justify-content-between">
              <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-start">
                <div class="g_id_signin"
                     data-type="standard"
                     data-shape="pill"
                     data-theme="outline"
                     data-text="signin_with"
                     data-size="large"
                     data-logo_alignment="left">
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-end">
                <button class="button-1" type="submit" (click)="submit()">Add Feedback</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="error-message">sd</div>
    </div>
  </div>
</div>
