<div class="loading-screen" *ngIf="isLoading">
  <img src="./assets/images/shared/loading.gif" alt="loading...">
  <h2>Please wait a moment...</h2>
  <p>Starts server configuration</p>
</div>

<div class="container">
  <h4>Add new FA Question</h4>
  <form class="contact-form" [formGroup]="faqForm">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
          <mat-label>Question</mat-label>
          <input matInput formControlName="question" placeholder="Ex. Question">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="contact-form-full-width" appearance="outline" color="accent">
          <mat-label>Answer</mat-label>
          <textarea matInput formControlName="answer" placeholder="Ex. Answer"></textarea>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end">
        <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-end">
          <button class="button-1" type="submit" (click)="submit()">Add FAQ</button>
        </div>
      </div>
    </div>
  </form>
</div>
