/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Ephesis&family=Poppins&family=Red+Hat+Display:wght@300&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Maps&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.theme-light {
  --color-primary-100: #3498db;
  --color-primary-200: #5faee3;
  --color-primary-300: #7db9e8;
  --color-primary-400: #9cc3ed;
  --color-primary-500: #b7d4f2;
  --color-primary-600: #d1e6f7;
  --color-surface-100: #ffffff;
  --color-surface-200: #f7f7f7;
  --color-surface-300: #f0f0f0;
  --color-surface-400: #e7e7e7;
  --color-surface-500: #dcdcdc;
  --color-surface-600: #cfcfcf;
  --color-surface-mixed-100: #f7f7f7;
  --color-surface-mixed-200: #f0f0f0;
  --color-surface-mixed-300: #e7e7e7;
  --color-surface-mixed-400: #dcdcdc;
  --color-surface-mixed-500: #cfcfcf;
  --color-surface-mixed-600: #bfbfbf;
  --color-secondary-100: #2c3e50;
  --color-secondary-200: #34495e;
  --color-secondary-300: #3a546e;
  --color-secondary-400: #415a77;
  --color-secondary-500: #4b6a86;
  --color-secondary-600: #54718e;
  --color-text-100: #000000;
  --color-text-200: #2c3e50;
  --color-text-300: #4b6a86;
  --color-text-400: #54718e;
  --color-text-500: #4b6a86;
  --color-text-600: #54718e;
  --color-danger-100: #e74c3c;
  --color-danger-200: #c0392b;
  --color-danger-300: #e67e22;
  --color-code-100: #7a5af5;
}

.theme-dark {
  --color-primary-100: #382bf0;
  --color-primary-200: #5e43f3;
  --color-primary-300: #7a5af5;
  --color-primary-400: #9171f8;
  --color-primary-500: #a688fa;
  --color-primary-600: #ba9ffb;
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  --color-surface-mixed-100: #1a1625;
  --color-surface-mixed-200: #2f2b3a;
  --color-surface-mixed-300: #46424f;
  --color-surface-mixed-400: #5e5a66;
  --color-surface-mixed-500: #76737e;
  --color-surface-mixed-600: #908d96;
  --color-secondary-100: #a688fa;
  --color-secondary-200: #9171f8;
  --color-secondary-300: #7a5af5;
  --color-secondary-400: #5e43f3;
  --color-secondary-500: #382bf0;
  --color-secondary-600: #1a1625;
  --color-text-100: #ffffff;
  --color-text-200: #e6e6e6;
  --color-text-300: #bfbfbf;
  --color-text-400: #a6a6a6;
  --color-text-500: #8b8b8b;
  --color-text-600: #717171;
  --color-danger-100: #c0392b;
  --color-danger-200: #e74c3c;
  --color-danger-300: #e67e22;
  --color-code-100: #7db9e8;
}

.bg {
  min-height: calc(100vh - 115px);
  background-color: var(--color-surface-mixed-200);

  .container {
    padding-top: 2.5vw;
    padding-bottom: 1vw;
  }
}

p, ul {
  color: var(--color-text-200);
}
.sub-list{
  li{
    font-weight: normal;
    font-size: 16px;

    span{
      font-weight: bold;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-200);
  font-family: 'Anton', sans-serif;
}

.sub-banner {
  min-height: 80vh;
  background-image: url("./assets/images/shared/sub-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  .shadow-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(#000, .5));
    z-index: 1;
  }

  .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: max(6vw, 40px);
      color: var(--color-text-200);
      text-align: center;
    }

    .banner-route-div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: var(--color-text-200);

      a {
        color: var(--color-text-200);
        text-decoration: none;
        transition: color .3s ease-in-out;

        &:hover {
          color: var(--color-primary-600);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    min-height: 50vh;
  }
}

.py-code-snippet{
  color: var(--color-text-200);
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--color-surface-mixed-300);
  margin-bottom: 20px;
  font-size: 12px;

  .import{
    color: var(--color-danger-100);
  }
  .lib{
    color: var(--color-danger-300);
  }
  .val{
    color: var(--color-primary-300);
  }
  .name{
    color: var(--color-code-100);
  }
  .comment{
    color: var(--color-text-300);
  }
}

.signup-form, .contact-form, .signIn-form {
  .signup-form-full-width, .contact-form-full-width, .signIn-form-full-width {
    width: 100%;
  }
}

.button-1{
  color: var(--color-text-200);
  background-color: var(--color-primary-500);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color .3s ease-in-out;

  &:hover{
    background-color: var(--color-primary-400);
  }
}

::-webkit-scrollbar {
  width: 0;
}




// override material css for forms
.mat-focus-indicator::before {
  border: 3px var(--color-input-focus, solid) var(--color-input-focus, transparent) !important;
}

.mat-mdc-focus-indicator::before {
  border: 3px var(--color-input-focus, solid) var(--color-input-focus, transparent) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--color-text-200) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--color-text-100) !important;
}

.mat-mdc-select-value {
  color: var(--color-text-100) !important;
}

.mat-mdc-select-placeholder {
  color: var(--color-text-200) !important;
}

.mat-mdc-select-disabled .mat-mdc-select-value {
  color: var(--color-text-300) !important;
}

.mat-mdc-select-arrow {
  color: var(--color-text-200) !important;
}

@media all {
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
    color: var(--color-text-200) !important;
  }
}

@media all {
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input:-ms-input-placeholder {
    color: var(--color-text-100) !important;
  }
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: var(--color-primary-200); // if added to important tag to this, it will completely override the color. it will not work error out.
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--color-primary-100) !important;
}
