<div class="container">
  <h2>Add new admin to the system</h2>

  <form class="signup-form" [formGroup]="adminForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="signup-form-full-width" appearance="outline" color="accent">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Ex. kavindu kokila">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="signup-form-full-width" appearance="outline" color="accent">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Ex. sample@gmail.com">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="signup-form-full-width" appearance="outline" color="accent">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" placeholder="Ex. 0762343567">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="signup-form-full-width" appearance="outline" color="accent">
          <mat-label>Default Password</mat-label>
          <input matInput formControlName="password" placeholder="Ex. qwet-sjh4-opnd">
        </mat-form-field>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <button class="button-1 w-100" type="submit" (click)="submit()">Request</button>
      </div>
    </div>
  </form>

</div>
