<div class="container">
  <h3 style="margin-bottom: 30px">Admin Privacy Policy</h3>
  <h5>Information We Collect:</h5>
  <ul>
    <li><b>User Management:</b></li>
    <ul>
      <li>As an administrator, you may have access to user profiles, including names, email addresses, and profile
        images, for the purpose of user management and platform administration.
      </li>
    </ul>

    <li><b>Google Authentication Data:</b></li>
    <ul>
      <li>When reviewing user activities, you may have access to data collected through Google Authentication, including
        user names and emails.
      </li>
    </ul>

    <li><b>Tawk Cookies:</b></li>
    <ul>
      <li>Administrators may have access to Tawk cookie data for monitoring and managing real-time messaging features.
      </li>
    </ul>
  </ul>

  <h5>How We Use Your Information:</h5>
  <ul>
    <li><b>User Administration:</b></li>
    <ul>
      <li>Administrator access is primarily for user management, monitoring user activities, and ensuring the security
        and integrity of the platform.
      </li>
    </ul>

    <li><b>Support and Communication:</b></li>
    <ul>
      <li>Administrators may use collected data for user support, addressing user inquiries, and maintaining effective
        communication.
      </li>
    </ul>

    <li><b>Platform Improvement:</b></li>
    <ul>
      <li>Data collected by administrators may be used for analyzing user behavior, identifying trends, and making
        improvements to the platform.
      </li>
    </ul>
  </ul>

  <h5>Your Privacy Responsibilities:</h5>
  <ul>
    <li><b>Data Security:</b></li>
    <ul>
      <li>Administrators are responsible for maintaining the security of user data and ensuring compliance with privacy
        policies and regulations.
      </li>
    </ul>

    <li><b>Authorized Access:</b></li>
    <ul>
      <li>Access to user data should be limited to authorized personnel and used for legitimate administrative purposes.
      </li>
    </ul>
  </ul>
  <p>[last update: 2024.01.14]</p>
</div>
